<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <!-- 定义属性 -->
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss} [%-5p] %l -> %m%n</Property>
        <Property name="LOG_PATH">/Users/pengshuaifeng/IdeaProjects/java-object-high/java-log/log-log4j2/logs/ajbp-iam.log</Property>
    </Properties>

    <!-- 定义日志记录器的上下文 -->
    <Appenders>
        <!-- 控制台输出目标 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- 文件输出目标 -->
        <RollingFile name="RollingFile" fileName="${LOG_PATH}"
                     filePattern="${LOG_PATH}-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </Appenders>

    <!-- 定义日志记录器 -->
    <Loggers>
        <!-- 设置根日志记录器 -->
        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>

        <!-- 设置特定包或类的日志记录器 -->
        <Logger name="org.apache.axis2" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="com.gzzn.gzajzhjgpt" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="com.gzzn.common" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="org.springframework.jdbc.core" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="com.aifa.platform.sso.client" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="org.hibernate.cache.ehcache" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
    </Loggers>
</Configuration>